*.class

.DS_Store

# Package Files #
*.jar
*.war
*.ear
/LaboriEnterprise/labori-war/dist/
/LaboriEnterprise/labori-war/build/
/LaboriEnterprise/labori-ejb/dist/
/LaboriEnterprise/labori-ejb/build/
/LaboriEnterprise/build/
/LaboriEnterprise/dist/
/labori-desktop/nbproject/private/
/labori-desktop/dist/
/labori-desktop/build/
/labori-empresa/nbproject/private/
/labori-empresa/dist/
/labori-empresa/build/
/labori-empresa2/nbproject/private/
/LaboriEnterprise/labori-empresa/nbproject/private/
/LaboriEnterprise/labori-empresa/dist/
/LaboriEnterprise/labori-empresa/build/