.header-background {

    border-top:4px solid #4679b8;

}

#header h1 {
    margin:0.5em 0;
}

.login-data {
    float:right;
    margin-top:0.5em;
}

form.login-data {
    text-align:right;
}

.menu-background {
    background:#eee;
    border-bottom:1px solid #D1D1D1;
}

#main-menu li {
    display:inline-block;
    padding-top:10px;
}

#main-menu li a {
    padding:10px 20px;
}

#main-menu li a.first {
    padding-left:0;
}

section {
    padding-top:1.5em;
}

footer {
    border-top:4px solid #4679b8;
    padding-top:20px;
    margin-top:20px;
    margin-bottom:20px;
}

footer li {
    font-size:85%;
}

.right {
    text-align:right !important;
}

.center {
    text-align:center !important;
}

.vacancy-name {
    font-size:130%;
    font-weight:bold;
}

.vacancy-company {
    font-size:90%;
    color:#666;
}

.float-right {
    float:right;
}

.login-panel .form-actions {
    padding-bottom:0;
}

table.table th {
    background-color:#F0F7FF;
}

.fillcv textarea {
    width:100%;
    height:120px;
}

.modal form {
    margin-bottom:0;
}

.jobs-table td.details {
    width:30%;
    text-align:right;
}

span.big {
    font-size:1.3em;
}

td.number, th.number, div.number_aligned {
    text-align:right;
}